.cartContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  background: var(--white);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.cartList {
  display: flex;
  flex-direction: column;
  padding: 8px;
  p {
    color: var(--black);
  }
}

.cartOpen {
  display: flex;
  flex-direction: column;
  animation: opencart 0.4s ease-in-out backwards;
}

.cartClosed {
  display: flex;
  flex-direction: column;
  animation: closecart 0.4s ease-in-out forwards;
}

.cartHeading {
  display: flex;
  background: var(--black);
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;

  > h2 {
    color: var(--white);
    text-align: center;
  }

  > button {
    background: transparent;
    padding: 0 8px;
    color: var(--white);
  }
}

.productCard {
  display: flex;
  margin-bottom: 16px;

  > div:nth-of-type(1) {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      max-width: 100%;
      max-height: 80px;
    }
  }
  > div:nth-of-type(2) {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-left: 8px;
}

.cartTitle {
  font-weight: bold;
  font-size: 0.9rem;
}

.quantityContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--black);
  margin-right: 12px;
  > button {
    padding: 8px;
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    padding: 8px;
    color: var(--black);
  }
}

.actionContainer {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;

  > p {
    color: var(--black);
  }
}
.totalContainer {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  padding: 8px;

  > div {
    display: flex;
    justify-content: space-between;
    p {
      font-weight: bold;
      color: var(--black);
    }
  }
}

.buyButton {
  width: 100%;
  background: var(--black);
  color: var(--white);
  border-radius: 4px;
  margin: 20px 0;
  padding: 16px;
}
@keyframes opencart {
  from {
    right: -50vw;
  }
  to {
    right: 0;
  }
}

@keyframes closecart {
  from {
    right: 0;
  }
  to {
    right: -50vw;
  }
}
