.header {
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;

  h1 {
    margin-right: 16px;
    cursor: pointer;
  }

  a {
    padding: 0 16px;
  }
}

.crumb {
  display: flex;
  align-items: center;
}
